.todoInput {
  margin-right: 20px;
  padding: 20px;
  border: 0;
  border-radius: 12px;
  font-size: 16px;
}

.todoButton {
  display: inline-block;
  padding: 20px 30px;
  outline: none;
  border: 0;
  border-radius: 12px;
  color: #fff;
  background: #c93;
  transition: transform 0.1s linear;
  font-size: 16px;
  cursor: pointer;
}
